.timetable {
    height: 100%;


    &--legend {
        background-color: white;
        padding-bottom: 1rem;
    }

    &-main-area {
        height: 100%;

        &--worker{
            position: relative;
            height: 2rem;
            padding: 1.5rem;
            
            p {
                position: relative;
                top: 67%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100%;
                height: 100%;
                cursor: pointer;
                &:hover + .timetable-main-area--worker-info-box {
                    opacity: 1;
                    z-index: 101;
                }
            }

            &-info-box{
                position: absolute;
                top: -3rem;
                background: #111;
                padding: 1rem;
                width: 100%;
                opacity: 0;
                transition: all 1s ease-in;
            }
            &--display {
                position: absolute;
                height: 100%;
                color: $white;
                
            }
        }
    }
    .hours {
        position: relative;
        &-start {
            float: left;
        }

        &-middle {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &-end {
            float: right;
        }

    }

    .worker-one {
        width: 50%;
        background-color: $princeton-orange;
        left: 0;
        z-index: 100;
    }

    .worker-two {
        width: 45%;
        background-color: $android-green;
        left: 5%;
    }

    .worker-three {
        width: 50%;
        background-color: $flame-red;
        left: 50%;
        z-index: 100;
    }

    .worker-four {
        width: 30%;
        background-color: purple;
        left: 70%;
    }
    
}