.timetable {
    height: 30rem;


    &--edit-area {
        
    }

    &-main-area {
        height: 100%;

        &--worker{
            position: relative;
            height: 2rem;
            &--display {
                position: absolute;
                height: 100%;
            }
        }
    }
    .hours {
        position: relative;
        &-start {
            float: left;
        }

        &-end {
            float: right;
        }

    }

    .worker-one {
        width: 50%;
        background-color: yellow;
        left: 0;
    }

    .worker-two {
        width: 45%;
        background-color: green;
        left: 5%;
    }

    .worker-three {
        width: 50%;
        background-color: red;
        left: 50%;
    }

    .worker-four {
        width: 30%;
        background-color: purple;
        left: 70%;
    }
    
}